


@media (min-width: 576px) {
  .embla {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    --slide-spacing: 0;
    --slide-size: 100%;
    height: 80dvh;
  }

  .embla__viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    width: 100%;
    height: 100%;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }

  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }

  .embla__slide__image {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 100%;
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    user-select: none;
    & img {
      width: auto;
      height: 100%;
      object-fit: contain;
      object-position: center;
    
    }
  }

  .embla-thumbs {

   
    height: 100%
  }

  .embla-thumbs__viewport {
    overflow: hidden;
    height: 100%
  }

  .embla-thumbs__container {
    display: flex;
    aspect-ratio: square;
    flex-direction: column;
    height: 100%
  }

  .embla-thumbs__slide {
    display: flex;
    min-width: 0;
    gap:4px
  }


  .embla-thumbs__slide__image {
    border-radius: 1.8rem;
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--detail-high-contrast);
    display: flex;
    align-items: start;
    justify-content: center;
    height: var(--thumbs-slide-height);
    width: 100%;
  }

  .embla-thumbs__slide--selected .embla-thumbs__slide__number {
    color: var(--text-body);
  }

}