.embla {
  max-width: 100%;
  display: flex;
  flex-direction: column-reverse;
  --slide-height: 100%;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  height: 100%;
}

.embla__viewport {
  overflow: hidden;
  height: 100%;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  height: 100%;
}

.embla__slide__image {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;

  & img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
  }
}

.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 6rem;
  margin-top: var(--thumbs-slide-spacing);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.embla-thumbs__viewport {
  overflow: hidden;
  width: 80%;
  height: 100%;
}

.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}

.embla-thumbs__slide {
  flex: 0 0 22%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
}

@media (min-width: 746px) {
  .embla-thumbs__slide {
    flex: 0 0 15%;
  }
}

.embla-thumbs__slide__image {
  border-radius: 1.8rem;
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--detail-high-contrast);
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--thumbs-slide-height);
  width: 100%;
}

.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  color: var(--text-body);
}

.embla__controls {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.embla__buttons {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: auto;
  height: 100%;
  width: auto;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 30%;
  height: 100%;
}


@media (min-width: 746px) {
  .embla {
    margin: auto;
    width: 100%;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    --slide-spacing: 0;
    --slide-size: 100%;
    gap: 16px;
    height: 80dvh;
  }

  .embla__viewport {
    width: 90%;
    height: 100%;
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    width: 100%;
    height: 100%;
    touch-action: pan-y pinch-zoom;
    margin-top: calc(var(--slide-spacing) * -1);
    gap: 16px;
    flex: 1;
    height: 100%;
    flex-direction: column;
  }

  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }

  .embla__slide__image {
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: 100%;
    border-radius: 1.8rem;
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    user-select: none;

    & img {
      width: auto;
      height: 100%;
      object-fit: contain;
      object-position: center;

    }
  }

  .embla-thumbs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%
  }

  .embla-thumbs__viewport {
    overflow: hidden;
    height: 80%
  }

  .embla-thumbs__container {
    display: flex;

    flex-direction: column;
    height: 100%;
    gap: 16px;

  }

  .embla-thumbs__slide {
    display: flex;
    height: 10%;
  }


  .embla-thumbs__slide__image {
    border-radius: 1.8rem;
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--detail-high-contrast);
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: auto;
    object-fit: contain;

    & img {
      width: auto;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center;

    }
  }

  .embla-thumbs__slide--selected .embla-thumbs__slide__number {
    color: var(--text-body);
  }

  .embla__controls {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .embla__buttons {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .embla__button {
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
    width: auto;
    height: 100%;
    width: auto;
    z-index: 1;
    border-radius: 50%;
    color: var(--text-body);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .embla__button:disabled {
    color: var(--detail-high-contrast);
  }

  .embla__button__svg {
    width: 30%;
    height: 100%;
  }


}